<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body style="background: rgba(128, 128, 128, 0.726)">
    <%- include("../partials/header.ejs",{user}) %>
    <div class="container card addOrUpdate">
      <h4 class="text-center font-weight-bold">
        Update Job Opening
      </h4>
      <form
        class="addOrUpdateForm"
        name="addOrUpdateForm"
        onsubmit="return handleSubmit(event);"
        autocomplete="off"
        id=<%= job._id %>
      >
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input type="text" class="form-control" id="projectName"
          name="projectName"required value=<%=job.projectName %>>
        </div>
        <div class="form-group">
          <label for="clientName">Client Name</label>
          <input type="text" class="form-control" id="clientName"
          name="clientName" required value=<%= job.clientName %>>
        </div>
        <div class="form-group">
          <label for="technologies">Technologies</label>
          <input type="text" class="form-control" id="technologies"
          value=<%=job.technologies: %>
          name="technologies" required  />
          <small class="text-muted align-self-start"
            >*add multiple technologies using comma seperated values</small
          >
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" class="form-control" id="role" name="role" required
          value=<%= job.role %>>
          <div class="form-group">
            <label for="description">Job Description</label>
            <input type="text" class="form-control" id="description"
            name="description" required value=<%= job.description %>>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select name="status" id="status" class="custom-select">
            <option selected value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>
  </body>
  <script type="text/javascript">
     function handleSubmit(event) {
      debugger
      const form = document.querySelector("form");
      const data = Object.fromEntries(new FormData(form).entries());
      const jobId =event.target.id;
      fetch(`http://localhost:7890/job/${jobId}`, {
        method: "PUT",
        body: JSON.stringify(data),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((d) => d.json())
        .then((d) => console.log(d))
        .catch((e) => console.error(e));
      return false;
    }
  </script>
</html>
